In [1]:
import pandas as pd

In [2]:

# Load the CSV file
df = pd.read_csv('data/dept_emp.csv')

In [3]:

# Remove duplicates based on 'emp_no', keeping the first occurrence
df_cleaned = df.drop_duplicates(subset='emp_no', keep='first')

In [4]:
# Save the cleaned DataFrame to a new CSV file
df_cleaned.to_csv('data/dept_emp.csv', index=False)

In [5]:


print("Duplicates removed and cleaned file saved.")

df_cleaned.head()

Duplicates removed and cleaned file saved.

   emp_no dept_no
0   10001    d005
1   10002    d007
2   10003    d004
3   10004    d004
4   10005    d003